Plugins>Faster Temporal Median, "Select Files and Run",             com.wurgobes.ftm2.FTM2_select_files
Plugins>Faster Temporal Median, "Select Folder and Run",            com.wurgobes.ftm2.FTM2_select_folder
Plugins>Faster Temporal Median, "Use Opened Image and Run",         com.wurgobes.ftm2.FTM2_use_opened_image
Plugins>Faster Temporal Median, "-",                                null
Plugins>Faster Temporal Median, "About Faster Temporal Median...",  com.wurgobes.ftm2.About